    <header class="intro-header">
        <div id="carrousel">            
            <img src="assets/clean_blog/1.jpg" alt="" width="1900" height="600" />
            <img src="assets/clean_blog/2.jpg" alt="" width="1900" height="600" />
            <img src="assets/clean_blog/3.jpg" alt="" width="1900" height="600" />
            <img src="assets/clean_blog/4.jpg" alt="" width="1900" height="600" />
            <img src="assets/clean_blog/5.jpg" alt="" width="1900" height="600" />
            <img src="assets/clean_blog/6.jpg" alt="" width="1900" height="600" />
            <img src="assets/clean_blog/7.jpg" alt="" width="1900" height="600" />
            <img src="assets/clean_blog/8.jpg" alt="" width="1900" height="600" />            
        </div>
        <main class="controls"> 
                 
            </main>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <div class="prev"><img src="assets/clean_blog/prec.png" alt="" width="50" height="50"></div> 
                        <div><h1>Random Resto</h1></div>                    
                        <div class="next"><img src="assets/clean_blog/suiv.png" alt="" width="50" height="50"></div>
                    </div>
                    <div id="points">
                        <p class="espace">&#9787</p>
                        <p class="espace"></p>
                        <p class="espace">&#9787</p>
                        <p class="espace"></p>
                        <p class="espace">&#9787</p>
                        <p class="espace"></p>
                        <p class="espace">&#9787</p>
                        <p class="espace"></p>
                        <p class="espace">&#9787</p>
                        <p class="espace"></p>
                        <p class="espace">&#9787</p>
                        <p class="espace"></p>
                        <p class="espace">&#9787</p>
                        <p class="espace"></p>
                        <p class="espace">&#9787</p> 
                        <p class="espace"></p>       
                    </div>
                </div>
            </div>
        </div>
    </header>
