<title>Resto</title>
<%= render 'shim' %>
<%= render 'navigation' %>
<%= render 'header' %>
<!-- Main Content -->
<section id = "tableau">
    <div class = "onglets">
      <div class = "nomonglets">
        <h4 id = "presentation">Présentation</h4>
        <h4 id = "menu">Menu</h4>
        <h4 id = "lorem">Lorem</h4>
      </div>
        <div class = "texte">
            <div id = "textepresentation">
              <h4>test</h4>
            </div>
            <div id = "textemenu">
              <h4>test 2</h4>
            </div>
            <div id = "textelorem">
             <h4>Lorem ipsum</h4>
            </div>
        </div>
    </div>
</section>
<%= render 'footer' %>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
