<title>Resto</title>
<%= render 'shim' %>
<%= render 'navigation' %>
<%= render 'header' %>
<!-- Main Content -->
<section id = "tableau">
    <div class = "onglets">
      <div class = "nomonglets">
        <h4 id = "presentation">Présentation</h4>
        <h4 id = "menu">Menu</h4>
        <h4 id = "lorem">Lorem</h4>
      </div>
        <div class = "texte">
            <div id = "textepresentation">
              <h4>Présentation</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas aliquam bibendum molestie. Fusce pharetra neque massa, non consectetur nibh vulputate vel. Sed a volutpat ante. Morbi sed ultrices elit. Donec id quam lorem. Aenean lobortis magna vitae pulvinar posuere. Nam a porttitor leo. Praesent gravida lectus vel mauris condimentum, sit amet dignissim erat suscipit. In eu iaculis massa. In hac habitasse platea dictumst. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc id ex facilisis sem sodales molestie placerat id massa. Donec ac sodales nulla. </p>
            </div>
            <div id = "textemenu">
              <h4>Nos menus</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas aliquam bibendum molestie. Fusce pharetra neque massa, non consectetur nibh vulputate vel. Sed a volutpat ante. Morbi sed ultrices elit. Donec id quam lorem. Aenean lobortis magna vitae pulvinar posuere. Nam a porttitor leo. Praesent gravida lectus vel mauris condimentum, sit amet dignissim erat suscipit. In eu iaculis massa. In hac habitasse platea dictumst. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc id ex facilisis sem sodales molestie placerat id massa. Donec ac sodales nulla. </p>
            </div>
            <div id = "textelorem">
             <h4>Lorem ipsum</h4>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas aliquam bibendum molestie. Fusce pharetra neque massa, non consectetur nibh vulputate vel. Sed a volutpat ante. Morbi sed ultrices elit. Donec id quam lorem. Aenean lobortis magna vitae pulvinar posuere. Nam a porttitor leo. Praesent gravida lectus vel mauris condimentum, sit amet dignissim erat suscipit. In eu iaculis massa. In hac habitasse platea dictumst. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc id ex facilisis sem sodales molestie placerat id massa. Donec ac sodales nulla. </p>
            </div>
        </div>
    </div>
</section>
<%= render 'footer' %>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
